
DesafioPooApp/DesafioPooApp/obj/Debug/net5.0/DesafioPooApp.assets.cache
DesafioPooApp/DesafioPooApp/obj/Debug/net5.0/DesafioPooApp.assets.cache
DesafioPooApp/DesafioPooApp/obj/Debug/net5.0/DesafioPooApp.GeneratedMSBuildEditorConfig.editorconfig
DesafioPooApp/DesafioPooApp/obj/DesafioPooApp.csproj.nuget.dgspec.json
DesafioPooApp/DesafioPooApp/obj/project.assets.json
DesafioPooApp/DesafioPooApp/obj/project.nuget.cache
